In [78]:
import pandas as pd
import requests
from api_key import quickstats_api

In [80]:
honey_data = []
honey_data = pd.DataFrame(honey_data)
honey_data["Year"] = ''
honey_data["State"] = ''

params = {
    'key': quickstats_api,
    'commodity_desc' : 'HONEY',
    'short_desc' : 'HONEY, BEE COLONIES - INVENTORY, MEASURED IN COLONIES',
    'year' : 2018
}

base_url = 'https://quickstats.nass.usda.gov/api/api_GET/'


response = requests.get(url, params=params).json()
# print(response)

for x in (range(len(response['data']))):

    honey_data.loc[x,'Year'] = response['data'][x]['year']
    honey_data.loc[x,'State'] = response['data'][x]['location_desc']
    honey_data.loc[x,'Commodity'] = response['data'][x]['commodity_desc']
    honey_data.loc[x,'Data Type'] = response['data'][x]['short_desc']
    honey_data.loc[x,'Value'] = response['data'][x]['Value']


honey_data

,Year,State,Commodity,Data Type,Value
0,2018,US TOTAL,HONEY,"HONEY, BEE COLONIES - INVENTORY, MEASURED IN C...","2,803,000"
1,2018,US TOTAL,HONEY,"HONEY, BEE COLONIES - INVENTORY, MEASURED IN C...","2,635,220"
2,2018,US TOTAL,HONEY,"HONEY, BEE COLONIES - INVENTORY, MEASURED IN C...","2,665,880"
3,2018,US TOTAL,HONEY,"HONEY, BEE COLONIES - INVENTORY, MEASURED IN C...","2,958,790"
4,2018,US TOTAL,HONEY,"HONEY, BEE COLONIES - INVENTORY, MEASURED IN C...","2,868,970"
...,...,...,...,...,...
225,2018,OTHER STATES,HONEY,"HONEY, BEE COLONIES - INVENTORY, MEASURED IN C...","36,000"
226,2018,OTHER STATES,HONEY,"HONEY, BEE COLONIES - INVENTORY, MEASURED IN C...","3,820"
227,2018,OTHER STATES,HONEY,"HONEY, BEE COLONIES - INVENTORY, MEASURED IN C...","4,380"
228,2018,OTHER STATES,HONEY,"HONEY, BEE COLONIES - INVENTORY, MEASURED IN C...","6,490"
229,2018,OTHER STATES,HONEY,"HONEY, BEE COLONIES - INVENTORY, MEASURED IN C...","8,370"